<mat-toolbar>
    <mat-toolbar-row class="justify-content-between">
      <img src="assets/Crossasyst-logo-blue.png" alt="CrossAsyst">
      <div class="row mr-2 ml-auto">
        <nav>
        <ul>
            <li>Product</li>
            <li>Security</li>
            <li>FAQ</li>
            <li>Patient</li>
            <li>Login</li>
            <li>Register</li>
        </ul>
        
            <button
              mat-button
              class="user mt-2 d-flex align-items-center"
            >
              Join Us Now
            </button>
    </nav>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>