mat-form-field {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-left: 1000px;
  top: 20px;
}

.date {
  margin-left: 150px;
  margin-top: -30px;
}

button {
    height: 40px;
    width: 79px;
    left: 1219px;
    top: 889px;
    margin-top: 10px;
    border: 1px solid grey;
    border-radius: 15px;
    margin-left: 1168px;
    background-color: #27A4FE;
}

img{
  height: 100px;
  width: 100px;
}
